@using WEB_253503_KOTOVA.Domain.Models
@model ListModel<Dish>
<div class="list">
    <div class="row">
        @if (Model.Items != null)
        {
            @foreach (var dish in Model.Items)
            {
                <div class="col-md-4 mb-4" style="width: 300px; margin: 60px;">
                    <div class="card h-100">
                        <img class="card-img-top" src="@dish.Image" alt="Dish image">
                        <div class="card-body">
                            <h5 class="card-title">@dish.Name</h5>
                            <p class="card-text">@dish.Description</p>
                            <p class="card-text">Price: @dish.Price</p>
                            <form asp-controller="Cart" asp-action="Add" asp-route-id="@dish.Id" method="post">
                                <input type="hidden" name="returnUrl" value="@(ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString.ToUriComponent())" />
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No dishes available.</p>
        }
    </div>
   
</div>